* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fde2d5;
}

/* NAVBAR */
.navbar {
  height: 64px;
  background-color: #f9a8a8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.navbar button {
  background-color: #fb7185;
  border: none;
  padding: 8px 18px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* PRODUCTS */
.products-container {
  padding: 40px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
}

/* CARD */
.card {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 16px;
}

.card h3 {
  margin: 18px 0 8px;
  font-size: 20px;
}

.card p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 14px;
}

.card button {
  padding: 10px 22px;
  background-color: #fb7185;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.details-container {
  padding: 60px;
  display: flex;
  justify-content: center;
}

.details-card {
  width: 100%;
  max-width: 700px;
  background-color: white;
  border-radius: 24px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.15);
}

.details-card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.details-card h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #374151;
}

.details-price {
  font-size: 22px;
  font-weight: bold;
  color: #fb7185;
  margin-bottom: 14px;
}

.details-desc {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 24px;
  line-height: 1.5;
}

.details-card button {
  padding: 12px 26px;
  background-color: #fb7185;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fde2d5;
}

.login-box {
  width: 360px;
  background-color: white;
  padding: 32px;
  border-radius: 22px;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 24px;
  font-size: 26px;
  color: #374151;
}

.login-box input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 16px;
  border: 1px solid #fbcfe8;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
}

.login-box input:focus {
  border-color: #fb7185;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #fb7185;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #f43f5e;
}

.login-error {
  margin-top: 14px;
  color: #dc2626;
  font-size: 14px;
}

